<audio id = "audio1" src="./b/vocals.mp3" type="audio/mpeg"></audio>
<audio id = "audio2" src="./b/no_vocals.mp3" type="audio/mpeg"></audio>
<form action="/sss" method="POST">
	<input name="url" type="text" >
	<input type="submit" value="送信">
</form>
<button id="btn_play">再生</button>
<button id="btn_pause">一時停止</button>
<input type="range" id="current" value="0.0" min="0.0" max="100" step="1">
<p>ボーカル</p>
<input type="range" id="volume1" value="1.0" min="0.0" max="1.0" step="0.1">
<br>
<p>バック</p>
<input type="range" id="volume2" value="1.0" min="0.0" max="1.0" step="0.1">
<br>
<p style="color:red">※バグでボーカルとバックがずれることがあります。ずれた場合は下のボタンを押してください。</p>
<button id="btn_repair">修正</button>
<script>
window.addEventListener('DOMContentLoaded', function(){
  const btn_play = document.getElementById("btn_play");
  const btn_pause = document.getElementById("btn_pause");
  const btn_repair = document.getElementById("btn_repair");
  const btn__sendurl = document.getElementById("btn_sendurl");
  const slider_current = document.getElementById("current")
  const slider_volume1 = document.getElementById("volume1");
  const slider_volume2 = document.getElementById("volume2");
  const audioElement1 = document.getElementById("audio1");
  const audioElement2 = document.getElementById("audio2");
  const audioElement = document.querySelector('audio');
  const url = document.getElementById('url').value;

  // ボリュームの初期設定
  audioElement1.volume = slider_volume1.value;
  audioElement2.volume = slider_volume2.value;
  audioElement1.currentTime = 0
  audioElement2.currentTime = 0


  btn_play.addEventListener("click", e => {
       audioElement1.play();
		 audioElement2.play();
  });

  btn_pause.addEventListener("click", e => {
		 audioElement2.pause();
	    audioElement1.pause();
  });
  btn_repair.addEventListener("click", e => {
		 let current = audioElement1.currentTime
	    audioElement1.currentTime = current
	    audioElement2.currentTime = current
	    
  });
  slider_volume1.addEventListener("input", e => {
    audioElement1.volume = slider_volume1.value;
  });
  slider_volume2.addEventListener("input", e => {
    audioElement2.volume = slider_volume2.value;
  });
  slider_current.addEventListener("input", e => {
    audioElement1.currentTime = slider_current.value;
	 audioElement2.currentTime = slider_current.value;
  });
});
</script>